body > div {text-align: center}
body > div div{width: 30%;margin: auto;border: solid 1px #000;border-radius: 25px;padding: 10px;}
a{text-decoration: none;}
@media (max-width:768px) {.container div{width: 90%;}}
@font-face {
    font-family:A-Arslan-Wessam-A;
    src: url(fonts/\(A\)-Arslan-Wessam-A.ttf);
}
@font-face {
    font-family:Along;
    src: url(fonts/Along-Sans-Medium.otf);
}
@font-face {
    font-family:trueno-Round;
    src: url(fonts/trueno-Round.otf);
}
@font-face {
    font-family:Cairo-Regular;
    src: url(fonts//Cairo-Regular.ttf);
}
@font-face {
    font-family:Droid-Arabic-Kufi ;
    src: url(fonts//Droid-Arabic-Kufi.ttf);
}
@font-face {
    font-family:GE-SS-Two-Light ;
    src: url(fonts//GE-SS-Two-Light.otf);
}
@font-face {
    font-family:OpenSans-B9K8;
    src: url(fonts//OpenSans-B9K8.ttf);
}
@font-face {
    font-family: Segoe-UI;
    src: url(fonts//Segoe-UI.ttf);
}
@font-face {
    font-family: Somar-ExtraLight;
    src: url(fonts/Somar-ExtraLight.otf);
}
@font-face {
    font-family: Readex-Pro;
    src: url(fonts/ReadexPro-Regular.ttf);
}
@font-face {
    font-family: Poppins;
    src: url(fonts/Poppins-Regular.ttf);
}
@font-face {
    font-family: agetta;
    src: url(fonts/agetta-display.regular.otf);
}
@font-face {
    font-family:cascadia-code;
    src: url(fonts/cascadia-code.ttf);
}
@font-face {
    font-family: GAQIRE;
    src: url(fonts/GAQIRE.otf);
}
@font-face {
    font-family: GE-Hili;
    src: url(fonts/GE_Hili_Book.otf);
}
@font-face {
    font-family: Junge;
    src: url(fonts/Junge-Regular.ttf);
}
@font-face {
    font-family: MinyaDemo;
    src: url(fonts/MinyaDemo.otf);
}
@font-face {
    font-family: Tajawal;
    src: url(fonts/Tajawal-Regular.ttf);
}
@font-face {
    font-family:UKIJBom ;
    src: url(fonts/UKIJBom.ttf);
}
@font-face {
    font-family: XM-Vahid;
    src: url(fonts/XM-Vahid.ttf);
}
@font-face {
    font-family:FTY-Strategycide-NCV;
    src: url(fonts/FTY-Strategycide-NCV.ttf);
}
@font-face {
    font-family:smar-tech-daily;
    src: url(fonts/@smartechdailyiOS16V2.ttf);
}
.container div:nth-of-type(1),a:nth-of-type(1){font-family:A-Arslan-Wessam-A; font-size: x-large;}
.container div:nth-of-type(2),a:nth-of-type(2){font-family: Along;}
.container div:nth-of-type(3),a:nth-of-type(3){font-family: trueno-Round;}
.container div:nth-of-type(4),a:nth-of-type(4){font-family: Cairo-Regular; }
.container div:nth-of-type(5),a:nth-of-type(5){font-family: Droid-Arabic-Kufi;}
.container div:nth-of-type(6),a:nth-of-type(6){font-family: GE-SS-Two-Light;}
.container div:nth-of-type(7),a:nth-of-type(7){font-family: OpenSans-B9K8;}
.container div:nth-of-type(8),a:nth-of-type(8){font-family: Segoe-UI;}
.container div:nth-of-type(9),a:nth-of-type(9){font-family: Somar-ExtraLight;}
.container div:nth-of-type(10),a:nth-of-type(10){font-family: Readex-Pro;}
.container div:nth-of-type(11),a:nth-of-type(11){font-family: Poppins;}
.container div:nth-of-type(12),a:nth-of-type(12){font-family: agetta;}
.container div:nth-of-type(13),a:nth-of-type(13){font-family: cascadia-code;}
.container div:nth-of-type(14),a:nth-of-type(14){font-family: GAQIRE;}
.container div:nth-of-type(15),a:nth-of-type(15){font-family: GE-Hili;}
.container div:nth-of-type(16),a:nth-of-type(16){font-family: Junge;}
.container div:nth-of-type(17),a:nth-of-type(17){font-family: MinyaDemo;}
.container div:nth-of-type(18),a:nth-of-type(18){font-family: Tajawal;}
.container div:nth-of-type(19),a:nth-of-type(19){font-family: UKIJBom;}
.container div:nth-of-type(20),a:nth-of-type(20){font-family: XM-Vahid;}
.container div:nth-of-type(21),a:nth-of-type(21){font-family: FTY-Strategycide-NCV;}
.container div:nth-of-type(22),a:nth-of-type(22){font-family: smar-tech-daily;}
/*light mode to dark mode*/
input[type="checkbox"]{display: none;}
label{width: fit-content;
    position:absolute ;}
@media (max-width:768px) {label{top: 48px;}}
label i{padding: 10px; font-size: 24px;}
label .ri-sun-line{display: none;
    color: aliceblue;}
input[type="checkbox"]:checked ~ label .fa-moon{display: none;}
input[type="checkbox"]:checked ~ label .ri-sun-line{display: block;}
.container{overflow: hidden;}
input[type="checkbox"]:checked ~ .container{
    background-color: black;
    color: white;}
input[type="checkbox"]:checked ~ .container div{border-color: white;}
input[type="checkbox"]:checked ~ .container a{color: green;}